<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <link rel="shortcut icon" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= data.baselineStaticAssetsUrl %>/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= data.baselineStaticAssetsUrl %>/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="https://static.Baseline.dev/web/favicon/browserconfig.xml">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <title>Baseline Report</title>
    <link rel="stylesheet" href="<%= data.baselineStaticAssetsUrl %>/css/style.css">
    <script src="<%= data.baselineStaticAssetsUrl %>/js/alpine.js" defer></script>
    <script>
      function init() {
        return {
          tab: 'users'
        }
      }
    </script>
</head>

<body class="bg-gray-200 mt-20" x-data="{ tab: 'users' }">
<%= data.templates.HEADER({
    baselineStaticAssetsUrl: data.baselineStaticAssetsUrl,
    users: data.users,
    resources: data.resources
}) %>
<div class="mt-8 mx-auto max-w-screen-xl sm:mt-12 sm:px-24 md:mt-20 xl:mt-24">
    <%= data.templates.SERVICE_ERRORS({
        errors: data.errors
    }) %>
    <div x-show="tab === 'users'">
    <% data.users.forEach(function(user){ %>
        <%= data.templates.USER_ITEM({
            user,
            templates: data.templates,
            services: data.services,
            baselineStaticAssetsUrl: data.baselineStaticAssetsUrl
        }) %>
    <% }); %>
    </div>
    <div x-show="tab === 'resources'">
    <%= data.templates.RESOURCES_CONTAINER({
        resources: data.resources,
        templates: data.templates,
        services: data.services,
        baselineStaticAssetsUrl: data.baselineStaticAssetsUrl
    }) %>
    </div>
</div>
</body>
</html>
