
<div>
    <div>
        <div class="flex items-center px-4 py-5 sm:px-6 bg-gray-100">
            <div class="rounded-full flex items-center justify-center text-gray-600">
                <img src="<%= data.baselineStaticAssetsUrl %>/img/services/<%= data.service.icon %>" width="20" alt="<%= data.service.label %>"/>
            </div>
            <h2 class="ml-1 text-lg leading-5 font-medium text-gray-700">
                <%= data.service.label %>
            </h2>
        </div>
    </div>
    <% if (data.service.name == 'github') { %>
        <%= data.templates.DETAILS_GITHUB({serviceItems: data.serviceItems, templates: data.templates, baselineStaticAssetsUrl: data.baselineStaticAssetsUrl}) %>
    <% } %>
    <% if (data.service.name == 'slack') { %>
        <%= data.templates.DETAILS_SLACK({serviceItems: data.serviceItems, templates: data.templates, baselineStaticAssetsUrl: data.baselineStaticAssetsUrl}) %>
    <% } %>
    <% if (data.service.name == 'aws') { %>
        <%= data.templates.DETAILS_AWS({serviceItems: data.serviceItems, templates: data.templates, baselineStaticAssetsUrl: data.baselineStaticAssetsUrl}) %>
    <% } %>
    <% if (data.service.name == 'cloudflare') { %>
        <%= data.templates.DETAILS_CLOUDFLARE({serviceItems: data.serviceItems, templates: data.templates, baselineStaticAssetsUrl: data.baselineStaticAssetsUrl}) %>
    <% } %>
    <% if (data.service.name == 'google-suite') { %>
        <%= data.templates.DETAILS_GOOGLE({serviceItems: data.serviceItems, templates: data.templates, baselineStaticAssetsUrl: data.baselineStaticAssetsUrl}) %>
    <% } %>
    <% if (data.service.name == 'google-cloud') { %>
        <%= data.templates.DETAILS_GOOGLE({serviceItems: data.serviceItems, templates: data.templates, baselineStaticAssetsUrl: data.baselineStaticAssetsUrl}) %>
    <% } %>
    <% if (data.service.name == 'wordpress-selfhosted') { %>
        <%= data.templates.DETAILS_WORDPRESS_SELFHOSTED({serviceItems: data.serviceItems, templates: data.templates, baselineStaticAssetsUrl: data.baselineStaticAssetsUrl}) %>
    <% } %>
</div>